MONGODB_URI=mongodb+srv://ariseadmin:Bhive2026@cluster0.lalwc6u.mongodb.net/arise
JWT_ACCESS_SECRET=7b5f4ea6fca9dc05f2fd7ab64e9fb2cfbbb3378010fea010ff2373c3b9b10b3e182d1e7bea21dc5bef60ffd7b5278b8f
JWT_REFRESH_SECRET=9cf4f66b28fc26d35c886f06b4c7010c5044e62326e836c382b693e022548d7da5905d5d678e1a240050fc28d731e572ef41473f08e7c7ec5119958c1946dc8d
ADMIN_JWT_SECRET=replace-with-a-separate-strong-random-admin-secret
ADMIN_BOOTSTRAP_TOKEN=replace-with-one-time-bootstrap-token
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@arise.in
ADMIN_PASSWORD=123456
ADMIN_ROLE=SUPER_ADMIN
RAZORPAY_KEY_ID=rzp_test_RDV8NOuCkDtbXX
RAZORPAY_KEY_SECRET=VqjFFXT2b2osQdV59vCqf5uC
REVENUECAT_ENTITLEMENT_ID=premium
REVENUECAT_SECRET_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REVENUECAT_WEBHOOK_AUTH=Bearer replace-with-revenuecat-webhook-token
PORT=3000

